.button {
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.redBG {
    background-color: red;

}

.blackBG {
    background-color: black;
}

.greenBG {
    background-color: green;
}

.width60 {
    width: 60px;
}
.width100 {
    width: 100px;
}
.width150 {
    width: 150px;
}

.colorAqua {
    color:aquamarine;
}
.colorViolet {
    color:blueviolet;
}
.colorWhite {
    color: white;
}